/* common codes start */
:root {
    --primary-color: #007A56;
    --secondary-color: #F8F4F0;
    --light-color: #fff;
    --dark-color: #000000;
    --primary-text-color: #212121;
    --secondary-text-color: #4E4E4E;
}

.dark-text {
    color: var(--dark-color);
}

.title {
    p {
        color: var(--secondary-text-color);
        font-weight: 500;
    }

    h1 {
        color: var(--primary-text-color);
        font-weight: 500;
    }
}

/* common codes end */

/* navbar section start */
#navbar {
    .nav-link {
        color: var(--primary-color);
        margin: 0 5px;
        transition: .3s ease-in-out;

        &:hover {
            background-color: var(--primary-color);
            color: var(--light-color);
        }

        &.active {
            background-color: var(--primary-color);
            color: var(--light-color);
        }
    }

    .nav-btn {
        .nav-link {
            text-decoration: none;
            color: var(--dark-color);
            transition: .5s ease-in-out;

            &:hover {
                background: var(--primary-color);
                color: var(--light-color);
            }

            &.active {
                background: var(--primary-color);
                color: var(--light-color);

                &:hover {
                    background: var(--light-color);
                    color: var(--dark-color);
                }
            }
        }
    }
}

/* navbar section end */


/* header section start */
#header {
    .header-button {
        a {
            color: var(--primary-color);
            /* border: 1px solid var(--primary-color); */
            text-decoration: none;
            transition: .3s ease-in-out;

            &:hover {
                color: var(--light-color);
                background: var(--primary-color);
            }
        }
    }

}

/* header section end */


/* best-service section start */
#best-service {
    background: var(--secondary-color);
}

/* best-service section end */

/* testimony section start */
#testimony {
    background: var(--secondary-color);

    i {
        color: var(--primary-color);
    }
}

/* testimony section end */

